/* ============================================================================== */
/* Éléments généraux */
/* ============================================================================== */
@font-face {
    font-family: ballpark;
    src: url(polices/ballpark.ttf);
}

@font-face {
    font-family: dayrom;
    src: url(polices/dayrom.ttf);
}

body{
    background-image: url(images/fond_jaune.png);
    margin-left: 3%;
    margin-right: 3%;
}

header, footer{
    background-image: url(images/separateur.png);
    background-repeat: repeat-x;
}


/* ============================================================================== */
/* Header */
/* ============================================================================== */
header{
    background-position: bottom;
    margin-bottom: 1.5%;
}

/* ============================= */
/* Div 1 = Logo + Titre */
/* ============================= */
#logoSite{
    width: 7em;
    margin-right: 0.6%;
}

#siteTitle{
    font-family: ballpark;
    font-weight: 100;
    font-size: 280%;
    justify-self: flex-end;
}

#headerDiv1{
    display: flex;
    align-items: baseline;
    margin-top: -0.2%;
    margin-bottom: -2.5%;
}

/* ============================= */
/* Div 2 = Sous Titre + Nav Bar */
/* ============================= */
#headerDiv2{
    display: flex;
    justify-content: space-between;
}

#headerDiv2 p{
    font-family: dayrom;
    font-size: 115%;
}

#navBar{
    display: flex;
    padding-right: 3.8%;
}

#navBar li{
    list-style-type: none;
}

#navBar a{
    font-family: dayrom;
    color: black;
    font-size: 140%;
    text-transform: uppercase;
    text-decoration: none;
}

.navItem{
    padding-right: 5%;
}

/* ============================================================================== */
/* Body */
/* ============================================================================== */
/* ============================= */
/* Div 1 */
/* ============================= */
#article{
    position: relative;
}

#imgArticle{
    width: 100%;
    border-radius: 0.5em;
}

#banderoleArticle{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0em 0em 0.5em 0.5em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
}

#banderoleArticle p{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#txtArticle{
    font-size: 80%;
    padding-left: 0.3%;
}

#buttonArticle{
    background-color: red;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

#txtButtonArticle{
    padding-right: 0.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/* ============================= */
/* Div 2 */
/* ============================= */
#bodyDiv2{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

#aProposArticle p, .contentBulle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* =========== */
/* À propos article */
/* =========== */
#aProposArticle{
    margin-right: 1.1%;
}

#contentAProposArticle2{
    display: flex;
    align-items: center;
}

#contentAProposArticle2 img{
    padding-right: 0.5em;
}

#bodyDiv2 h1 {
    font-family: dayrom;
    font-weight: 1;
    text-transform: uppercase;
}

/* =========== */
/* À propos bulle */
/* =========== */
#aProposBulle{
    background-color: #706b64;
    position: relative;
    color: #fff;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    border-radius: 0.3em;
}

#bulleTitre{
    font-family: dayrom;
    text-transform: uppercase;
}

#flecheBulle{
    position: absolute;
    top: 24%;
    left: -4.5%;
}


/* ============================================================================== */
/* Footer */
/* ============================================================================== */
footer{
    background-position: top;
    display: flex;
    flex-direction: column;
}

#footer{
    display: flex;
    justify-content: space-evenly;
}

#flecheFooter{
    align-self: center;
}

/* ============================= */
/* Div 1 */
/* ============================= */
/* ============================= */
/* Div 2 */
/* ============================= */
/* ============================= */
/* Div 3 */
/* ============================= */
#amis{
    display: flex;
}