<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platon Neutron</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="assets/files/css/index.css">
</head>

<body>
    <header>
        <div id="topHeader">
            <img src="assets/images/Logo.svg" alt="logo Platon Neutron">

            <div id="circle"></div>

            <div id="navBar">
                <ul id="navBarDroite">
                    <li id="li1"><a class="Picky" href="">Accueil</a></li>
                    <li><a class="Picky" href="">Projets</a></li>
                </ul>
    
                <ul id="navBarGauche">
                    <li id="li2"><a class="Picky" href="">Contact</a></li>
                    <li><a class="Picky" href="">Boutique</a></li>
                </ul>

                <div id="selectionLangue">
                    <p>🇫🇷</p>
                    <img id="selecteur" src="assets/images/flecheSelectionLangues.svg" alt="flèche sélection langues">
                </div>
            </div>
    
        </div>

        <div id="bottomHeader"></div>
    </header>

    <div>
        <div>
            <!-- Sidebar réseaux sociaux -->
            <div id="sideRs">
                <a href="https://twitch.tv/platon_neutron" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/Twitch.svg" alt="Logo Twitch"> </a>
                <a href="https://discord.gg/pNxMVFv" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/Discord.svg" alt="Logo Discord"> </a>
                <a href="https://www.youtube.com/@PlatonNeutron" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/YouTube.png" alt="Logo Youtube"> </a>
                <a href="https://www.youtube.com/@PlatonNeutron-Vod" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/YouTube.png" alt="Logo Youtube"> </a>
                <a href="https://www.instagram.com/platon_neutron/" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/Instagram.svg" alt="Logo Instagram"> </a>
                <a href="https://twitter.com/Platon_Neutron" target=”_blank”> <img class="logoRs" src="assets/images/LogosRéseaux/X.svg" alt="Logo X"> </a>
            </div>
        </div>

    <footer>
        <div id="part1">
            <p>Fait avec ❤️</p>
            <p id="p2">par Platon Neutron</p> 
        </div>
               
        <div id="ligne"></div>

        <div id="part2">
            <ul>
                <li id="fLi1"><a href="">Mentions légales</a></li>
                <li id="fLi2"><a href="">Politique de confidentialité</a></li>
            </ul>
    
            <p>Copyright © 2023 <b>Platon Neutron</b> All rights reserved.</p>
        </div>
    </footer>
</body>

</html>